<!DOCTYPE html>
<html>
<head>
  <title><%= "Blog App" %></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <div class="container">

        <nav>
        <a href="/">Home</a>
        <a href="/create">Create</a>
        <a href="/blogs">Blogs</a>
        </nav>
