<%- include("partials/header.ejs") %>

<form method="POST" >
    <input type="text" name="editingTitle" value="<%= editingTitle || '' %>">

    <textarea type="text" name="editingBody"><%= editingBody %></textarea>

    <input type="submit" name="submit">
</form>

<%- include("partials/footer.ejs") %>