<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog App</title>

```
<style>
    body {
        margin: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Arial, sans-serif;
    }

    .container {
        text-align: center;
    }

    h1 {
        margin-bottom: 2rem;
    }

    .btn-group {
        display: flex;
        gap: 1rem;
        justify-content: center;
    }

    button {
        padding: 10px 25px;
        font-size: 1rem;
        cursor: pointer;
    }
</style>
```

</head>
<body>

```
<div class="container">
    <h1>Welcome to Blog App</h1>

    <div class="btn-group">

        
        <form action="/login" method="GET">
            <button type="submit">Login</button>
        </form>
        
        <form action="/register" method="GET">
            <button type="submit">Register</button>
        </form>
        
    </div>
    <br>
    <a href="/all-blogs" method="GET">Feed</a>
</div>
```

</body>
</html>
